/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  outline: none;
  font-weight: 200;
  display: inline-block;
  color: #000;
  overflow: hidden;
  background: transparent;
  height: 4.2rem;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  line-height: 2rem;
  text-decoration: none;
  position: relative;
  border: 1px solid #808080;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_control::-moz-placeholder {
  color: #808080;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #808080;
}
.form_control::-webkit-input-placeholder {
  color: #808080;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus {
  border-color: #444;
}
.form_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder {
  color: transparent;
}

.red .form_control {
  border-color: #ff1717;
}

.form_group {
  position: relative;
  margin-bottom: 1.5rem;
}
.form_group .form_control {
  z-index: 10;
  position: relative;
}
.form_group .form_placeholder {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 4.2rem;
  color: #808080;
  font-size: 1.4rem;
  line-height: 2rem;
  position: absolute;
  display: inline-block;
  padding: 1.1rem 1.6rem;
}
.form_group .form_placeholder sup {
  top: -0.2rem;
  color: #ff1717;
  font-size: 100%;
  margin-right: 0.3rem;
}
.form_group.focus .form_placeholder {
  opacity: 0;
  visibility: hidden;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  user-select: none;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: #ff605c;
  white-space: nowrap;
  padding: 2rem 3.5rem;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: "Poppins", Arial, sans-serif;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  border-radius: 3rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 5px 11px 0px rgba(34, 98, 113, 0.5);
  box-shadow: 0px 5px 11px 0px rgba(34, 98, 113, 0.5);
}
.btn:hover {
  color: #fff;
  background: #ff403b;
}
.btn:focus, .btn.focus {
  outline: 0;
}
.btn:active {
  background: #b83532;
}

.btn_sm {
  padding: 1rem 4rem;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn_send {
  width: 100%;
}

.btn_jewel {
  padding-left: 11.5rem;
}
.btn_jewel:before {
  width: 1px;
  left: 90px;
  top: 10px;
  bottom: 10px;
  content: "";
  position: absolute;
  background: #ff807d;
}
.btn_jewel i {
  top: 50%;
  left: 30px;
  width: 31px;
  height: 29px;
  margin-top: -15px;
  position: absolute;
}
.btn_jewel .ico-svg {
  fill: #fff;
}
.btn_jewel:hover:before {
  background: #df3934;
}
.btn_jewel:hover .ico-svg {
  fill: #fff;
}

.btn_white {
  color: #1c5293;
  background: #fff;
  padding: 1.3rem 2rem;
}
.btn_white:hover {
  color: #ffff;
  background: #ff605c;
}
.btn_white:focus {
  background: #b83532;
}
@media (min-width: 768px) {
  .btn_white {
    padding: 2rem 3.5rem;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_justify {
  text-align: justify !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text_lowercase {
  text-transform: lowercase !important;
}

.text_uppercase {
  text-transform: uppercase !important;
}

.text_capitalize {
  text-transform: capitalize !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Exo 2", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.625;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1 {
  font-weight: 300;
  font-size: 2.8rem;
  position: relative;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 4.8rem;
    line-height: 5.4rem;
  }
}
@media (min-width: 992px) {
  h1, .h1 {
    font-size: 6rem;
    line-height: 6.4rem;
  }
}

h2, .h2 {
  font-size: 2.8rem;
  text-align: center;
  position: relative;
  margin-bottom: 3.2rem;
  padding-bottom: 2.6rem;
  text-transform: uppercase;
}
h2:before, .h2:before {
  bottom: 0;
  left: 50%;
  width: 42px;
  height: 4px;
  content: "";
  background: #fff;
  margin-left: -21px;
  position: absolute;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 3.6rem;
    line-height: 4rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 992px) {
  h2, .h2 {
    font-size: 4.8rem;
    line-height: 5.2rem;
  }
}

h3, .h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

h4, .h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h5, .h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

h6, .h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

p {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  text-decoration: none;
}

.header {
  color: #fff;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding-top: 2rem;
  position: relative;
  padding-bottom: 8rem;
  background: url("../img/header_bg.jpg") 0 50% no-repeat;
}
.header:before {
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  height: 20px;
  position: absolute;
  background: url("../img/border_top_sm.png") 50% 0 no-repeat;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.header .header_top {
  padding: 0;
  list-style: none;
  margin: 0 0 3rem 0;
}
.header .header_top:before, .header .header_top:after {
  content: " ";
  display: table;
}
.header .header_top:after {
  clear: both;
}
.header .header_top > li {
  float: right;
}
.header .header_top > li:first-child {
  float: left;
  padding-top: 1.5rem;
}
.header .header_logo {
  width: 144px;
  display: block;
}
.header .header_nav {
  margin: 0;
  padding: 1rem 3rem 0 0;
  display: none;
  list-style: none;
}
.header .header_nav > li {
  padding: 0 3rem;
  font-size: 1.8rem;
  line-height: 2rem;
  text-transform: uppercase;
}
.header .header_nav > li a {
  color: #fff;
  padding: 1rem 0;
  display: inline-block;
  text-decoration: none;
}
.header .header_nav > li a:hover {
  text-decoration: underline;
}
.header .header_slider {
  left: 50%;
  width: 1920px;
  margin-left: -960px;
  position: relative;
}
.header h1 {
  margin-bottom: 2rem;
}
.header h1 strong {
  color: #ff605c;
}
.header .header_slogan {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.header .header_slogan strong {
  color: #ff605c;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}
.header .header_tab {
  margin-right: -90px;
  margin-bottom: 2.5rem;
}
.header .header_text {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding-top: 1.5rem;
  margin-bottom: 4rem;
}
.header .header_text p {
  margin-bottom: 4rem;
}
.header .header_text p:first-child {
  font-size: 1.4rem;
  line-height: 2rem;
}
.header .header_text p:last-child {
  margin-bottom: 0;
}
.header .header_text p strong {
  font-weight: 700;
}
@media (min-width: 768px) {
  .header {
    padding-bottom: 10rem;
    background-size: cover;
  }
  .header .header_top {
    margin-bottom: 5rem;
  }
  .header .header_top > li:first-child {
    padding-top: 1.7rem;
  }
  .header .header_logo {
    width: 205px;
  }
  .header h1 {
    margin-bottom: 4.5rem;
  }
  .header .header_slogan {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 4.5rem;
  }
  .header .header_slogan strong {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
  .header .header_tab {
    margin: 0;
    top: 145px;
    width: 665px;
    right: -230px;
    position: absolute;
  }
  .header .header_text {
    margin-bottom: 8rem;
  }
}
@media (min-width: 992px) {
  .header {
    padding-top: 3rem;
    padding-bottom: 16rem;
  }
  .header:before {
    height: 80px;
    background: url("../img/border_top.png") 50% 0 no-repeat;
  }
  .header .header_top {
    margin-bottom: 10rem;
  }
  .header h1 {
    margin-bottom: 4rem;
  }
  .header .header_tab {
    top: 160px;
    width: 904px;
    right: -340px;
  }
  .header .header_slogan {
    font-size: 3rem;
    line-height: 3.4rem;
    margin-bottom: 9rem;
  }
  .header .header_slogan strong {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
  .header .header_text {
    max-width: 1000px;
  }
  .header .header_text p {
    font-size: 3rem;
    line-height: 4rem;
  }
  .header .header_text p:first-child {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 9rem;
  }
  .header .header_nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .header .header_tab {
    top: 160px;
    width: 904px;
    right: -225px;
  }
}

.user {
  position: relative;
  background: #0b1d32;
  padding: 1rem 1rem 1rem 7.5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.user .user_photo {
  top: 50%;
  left: 10px;
  width: 50px;
  height: 50px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  overflow: hidden;
  margin-top: -25px;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.user .user_name {
  color: #fff;
  font-weight: 300;
  position: relative;
  padding-right: 25px;
  display: inline-block;
}
.user .user_value {
  color: #3bacc3;
  font-weight: 700;
}
.user .flag {
  top: 3px;
  right: 0;
  width: 17px;
  height: 11px;
  position: absolute;
  display: inline-block;
}
.user .flag.flag_ch {
  background: url("../images/icon_ch.png") 0 0 no-repeat;
}
.user .flag.flag_de {
  background: url("../images/icon_de.png") 0 0 no-repeat;
}
.user .flag.flag_sp {
  background: url("../images/icon_sp.png") 0 0 no-repeat;
}
.user .flag.flag_pt {
  background: url("../images/icon_pt.png") 0 0 no-repeat;
}
.user .flag.flag_gb {
  background: url("../images/icon_gb.png") 0 0 no-repeat;
}
.user .flag.flag_it {
  background: url("../images/icon_it.png") 0 0 no-repeat;
}

.work {
  color: #000;
  width: 100%;
  max-width: 100%;
  background: #fff;
  overflow: hidden;
  position: relative;
  padding: 4.5rem 0 5rem 0;
}
.work h2 {
  color: #1c5293;
  margin-bottom: 3rem;
}
.work h2:before {
  background: #3bacc3;
}
.work .work_graph {
  margin: 0 -1.5rem;
  background: #0b1d32;
  position: relative;
  padding: 2rem 0 4.3rem 0;
}
.work .graph_mobile {
  margin: 0 auto;
  max-width: 320px;
}
.work .graph_legend {
  width: 280px;
  font-size: 0;
  line-height: 0;
  list-style: none;
  background: #1c5293;
  padding: 0.7rem 0.2rem;
  margin: 0 auto 3.5rem auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.work .graph_legend li {
  width: 33.33%;
  border-left: 1px solid #4975a9;
  padding: 0.1rem 0 0.1rem 1.3rem;
}
.work .graph_legend li:first-child {
  border-left: none;
}
.work .graph_legend li:first-child strong {
  color: #fff;
}
.work .graph_legend li span {
  color: #fff;
  display: block;
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}
.work .graph_legend li strong {
  display: block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #ff605c;
}
.work .graph_desktop {
  display: none;
}
.work .work_content {
  padding-top: 6rem;
}
.work .work_step {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: li;
}
.work .work_step li {
  min-height: 6rem;
  font-weight: 300;
  font-size: 1.4rem;
  position: relative;
  padding-left: 8rem;
  line-height: 1.8rem;
  margin-bottom: 3rem;
}
.work .work_step li:last-child {
  margin-bottom: 0;
}
.work .work_step li:before {
  top: 0;
  left: 0;
  color: #fff;
  width: 60px;
  height: 60px;
  font-weight: 700;
  background: #3bacc3;
  padding: 1.5rem 0;
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: center;
  position: absolute;
  content: counter(li);
  counter-increment: li;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.work .work_step li strong {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  position: relative;
  color: #1c5293;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.work .work_step li span {
  display: block;
}
@media (min-width: 768px) {
  .work {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
  }
  .work h2 {
    margin-bottom: 5rem;
  }
  .work .graph_mobile {
    display: none;
  }
  .work .graph_desktop {
    display: block;
    margin: 0 -23px;
  }
  .work .work_graph {
    padding: 0;
    margin: 0 auto;
    max-width: 767px;
    background: transparent;
  }
  .work .graph_legend {
    width: 472px;
    left: 50%;
    top: 45px;
    margin-left: -236px;
    position: absolute;
    padding: 1.3rem 0.2rem;
    margin-bottom: 0;
  }
  .work .graph_legend li {
    padding: 0.4rem 0 0.4rem 3.5rem;
  }
  .work .graph_legend li strong {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  .work .work_content {
    padding-top: 0;
    padding-left: 3rem;
  }
  .work .work_step {
    margin: 0 -1.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .work .work_step li {
    margin: 0 1.5rem;
    width: calc(33.33% - 3rem);
  }
}
@media (min-width: 992px) {
  .work {
    padding-top: 7rem;
    padding-bottom: 5.5rem;
  }
  .work .work_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .work .work_graph {
    max-width: inherit;
  }
  .work .graph_desktop {
    margin: 0 -72px;
  }
  .work .graph_legend {
    top: 55px;
    width: 564px;
    margin-left: -282px;
    padding: 1.5rem 0.2rem;
  }
  .work .graph_legend li {
    padding: 0.4rem 0 0.4rem 4.3rem;
  }
  .work .graph_legend li span {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .work .graph_legend li strong {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .work .work_content {
    width: 360px;
    padding-top: 3.5rem;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .work .work_step {
    margin: 0;
    display: block;
  }
  .work .work_step li {
    width: 100%;
    margin: 0 0 5.5rem 0;
  }
  .work .work_step li:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .work .work_content {
    padding-top: 7rem;
  }
}

.why {
  color: #fff;
  position: relative;
  padding: 6rem 0 4rem 0;
  background-image: -webkit-linear-gradient(left, #34579a 0%, #3fc8ce 100%);
  background-image: -o-linear-gradient(left, #34579a 0%, #3fc8ce 100%);
  background-image: linear-gradient(to right, #34579a 0%, #3fc8ce 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF34579A", endColorstr="#FF3FC8CE", GradientType=1);
}
.why:before {
  top: 0;
  left: 0;
  right: 0;
  content: "";
  height: 20px;
  position: absolute;
  background: url("../img/border_top_sm.png") 50% 0 no-repeat;
}
.why h2 {
  margin-bottom: 3rem;
}
.why .why_list {
  padding: 0;
  list-style: none;
  margin: 0 -1.5rem;
}
.why .why_list > li {
  font-weight: 300;
  min-height: 6rem;
  font-size: 1.5rem;
  position: relative;
  line-height: 1.8rem;
  margin-bottom: 2.5rem;
  padding: 0 1.5rem 0 9.5rem;
}
.why .why_list > li:before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
}
.why .why_list > li:nth-child(1) {
  padding-top: 0.5rem;
}
.why .why_list > li:nth-child(1):before {
  left: 29px;
  width: 48px;
  height: 55px;
  background: url("../img/b03__icon_01.svg") 0 0 no-repeat;
  background-size: cover;
}
.why .why_list > li:nth-child(2) {
  padding-top: 1rem;
}
.why .why_list > li:nth-child(2):before {
  left: 27px;
  width: 51px;
  height: 51px;
  background: url("../img/b03__icon_02.svg") 0 0 no-repeat;
  background-size: cover;
}
.why .why_list > li:nth-child(3):before {
  left: 23px;
  width: 59px;
  height: 41px;
  background: url("../img/b03__icon_03.svg") 0 0 no-repeat;
  background-size: cover;
}
.why .why_list > li:nth-child(4):before {
  left: 31px;
  width: 42px;
  height: 42px;
  background: url("../img/b03__icon_04.svg") 0 0 no-repeat;
  background-size: cover;
}
.why .why_list > li:nth-child(5):before {
  left: 33px;
  width: 38px;
  height: 45px;
  background: url("../img/b03__icon_05.svg") 0 0 no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .why {
    padding-top: 10rem;
    padding-bottom: 8rem;
  }
  .why .why_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .why .why_list > li {
    height: 8rem;
    width: 33.33%;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 5rem;
    padding-left: 10.5rem;
  }
  .why .why_list > li:nth-child(1) {
    width: 50%;
  }
  .why .why_list > li:nth-child(1):before {
    left: 22px;
    width: 57px;
    height: 65px;
  }
  .why .why_list > li:nth-child(2) {
    width: 50%;
    padding-left: 11.5rem;
  }
  .why .why_list > li:nth-child(2):before {
    width: 67px;
    height: 67px;
  }
  .why .why_list > li:nth-child(3):before {
    left: 15px;
    width: 69px;
    height: 48px;
  }
  .why .why_list > li:nth-child(4) {
    width: 37%;
  }
  .why .why_list > li:nth-child(4):before {
    width: 50px;
    height: 49px;
  }
  .why .why_list > li:nth-child(5) {
    width: 29%;
  }
  .why .why_list > li:nth-child(5):before {
    width: 45px;
    height: 53px;
  }
}
@media (min-width: 992px) {
  .why {
    padding-top: 16rem;
    padding-bottom: 9rem;
  }
  .why:before {
    height: 80px;
    background: url("../img/border_top.png") 50% 0 no-repeat;
  }
  .why .why_list > li {
    height: 10rem;
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

.footer {
  color: #fff;
  padding: 4.5rem 0;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  background: #0b1d32;
}

.privacy {
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  z-index: 1000;
  position: fixed;
  background: #0b1d32;
  display: none;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}
.privacy.first {
  display: block;
}
.privacy h4 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.privacy p {
  margin-bottom: 1.5rem;
}

.modal {
  padding: 4rem 2rem;
  max-width: 360px;
  background: #fff;
}
.modal .modal_title {
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.modal .modal_thanks {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}
.modal .modal_text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .modal {
    width: 440px;
    max-width: inherit;
    padding: 40px 50px;
  }
  .modal .modal_title {
    font-size: 3.6rem;
    line-height: 4rem;
  }
  .modal .modal_thanks {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

.fancybox-slide--current .modal {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.modal {
  opacity: 0.1;
  -webkit-transform: scale(0.05);
  -ms-transform: scale(0.05);
  -o-transform: scale(0.05);
  transform: scale(0.05);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/*# sourceMappingURL=main.css.map */
