.header {
	color: #fff;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding-top: 2rem;
	position: relative;
	padding-bottom: 8rem;
	background: url("../img/header_bg.jpg") 0 50% no-repeat;

	&:before {
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		height: 20px;
		position: absolute;
		background: url("../img/border_top_sm.png") 50% 0 no-repeat;
		@include rotate(180deg);
	}

	.header_top {
		padding: 0;
		list-style: none;
		margin: 0 0 3rem 0;
		@include clearfix();

		> li {
			float: right;

			&:first-child {
				float: left;
				padding-top: 1.5rem;
			}
		}
	}

	.header_logo {
		width: 144px;
		display: block;
	}

	.header_nav {
		margin: 0;
		padding: 1rem 3rem 0 0;
		display: none;
		list-style: none;

		> li {
			padding: 0 3rem;
			font-size: 1.8rem;
			line-height: 2rem;
			text-transform: uppercase;

			a {
				color: #fff;
				padding: 1rem 0;
				display: inline-block;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.header_slider {
		left: 50%;
		width: 1920px;
		margin-left: -960px;
		position: relative;
	}


	h1 {
		margin-bottom: 2rem;

		strong {
			color: #ff605c;
		}
	}

	.header_slogan {
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 2.4rem;

		strong {
			color: #ff605c;
			font-size: 3rem;
			font-weight: 700;
			line-height: 3rem;
		}
	}

	.header_tab {
		margin-right: -90px;
		margin-bottom: 2.5rem;
	}

	.header_text {
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 2.4rem;
		padding-top: 1.5rem;
		margin-bottom: 4rem;

		p {
			margin-bottom: 4rem;

			&:first-child {
				font-size: 1.4rem;
				line-height: 2rem;
			}

			&:last-child {
				margin-bottom: 0;
			}

			strong {
				font-weight: 700;
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding-bottom: 10rem;
		background-size: cover;

		.header_top {
			margin-bottom: 5rem;

			> li {

				&:first-child {
					padding-top: 1.7rem;
				}
			}
		}

		.header_logo {
			width: 205px;
		}

		h1 {
			margin-bottom: 4.5rem;
		}

		.header_slogan {
			font-size: 2.4rem;
			line-height: 3rem;
			margin-bottom: 4.5rem;

			strong {
				font-size: 3.6rem;
				line-height: 3.6rem;
			}
		}

		.header_tab {
			margin: 0;
			top: 145px;
			width: 665px;
			right: -230px;
			position: absolute;
		}

		.header_text {
			margin-bottom: 8rem;
		}

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 3rem;
		padding-bottom: 16rem;

		&:before {
			height: 80px;
			background: url("../img/border_top.png") 50% 0 no-repeat;
		}


		.header_top {
			margin-bottom: 10rem;
		}

		h1 {
			margin-bottom: 4rem;
		}

		.header_tab {
			top: 160px;
			width: 904px;
			right: -340px;
		}

		.header_slogan {
			font-size: 3rem;
			line-height: 3.4rem;
			margin-bottom: 9rem;

			strong {
				font-size: 4.8rem;
				line-height: 4.8rem;
			}
		}

		.header_text {
			max-width: 1000px;

			p {
				font-size: 3rem;
				line-height: 4rem;

				&:first-child {
					font-size: 1.4rem;
					line-height: 2rem;
					margin-bottom: 9rem;
				}
			}
		}

		.header_nav {
			@include flexbox();
		}
	}

	@media (min-width: $screen-xl-min) {

		.header_tab {
			top: 160px;
			width: 904px;
			right: -225px;
		}
	}
}

.user {
	position: relative;
	background: #0b1d32;
	padding: 1rem 1rem 1rem 7.5rem;
	@include border-radius(4px);

	.user_photo {
		top: 50%;
		left: 10px;
		width: 50px;
		height: 50px;
		font-size: 1.6rem;
		line-height: 2.4rem;
		overflow: hidden;
		margin-top: -25px;
		position: absolute;
		@include border-radius(50%);
	}

	.user_name {
		color: #fff;
		font-weight: 300;
		position: relative;
		padding-right: 25px;
		display: inline-block;
	}

	.user_value {
		color: #3bacc3;
		font-weight: 700;
	}

	.flag {
		top: 3px;
		right: 0;
		width: 17px;
		height: 11px;
		position: absolute;
		display: inline-block;

		&.flag_ch {
			background: url("../images/icon_ch.png") 0 0 no-repeat;
		}

		&.flag_de {
			background: url("../images/icon_de.png") 0 0 no-repeat;
		}

		&.flag_sp {
			background: url("../images/icon_sp.png") 0 0 no-repeat;
		}

		&.flag_pt {
			background: url("../images/icon_pt.png") 0 0 no-repeat;
		}

		&.flag_gb {
			background: url("../images/icon_gb.png") 0 0 no-repeat;
		}

		&.flag_it {
			background: url("../images/icon_it.png") 0 0 no-repeat;
		}
	}
}

.work {
	color: #000;
	width: 100%;
	max-width: 100%;
	background: #fff;
	overflow: hidden;
	position: relative;
	padding: 4.5rem 0 5rem 0;

	h2 {
		color: #1c5293;
		margin-bottom: 3rem;

		&:before {
			background: #3bacc3;
		}
	}

	.work_graph {
		margin: 0 -1.5rem;
		background: #0b1d32;
		position: relative;
		padding: 2rem 0 4.3rem 0;
	}

	.graph_mobile {
		margin: 0 auto;
		max-width: 320px;
	}

	.graph_legend {
		width: 280px;
		font-size: 0;
		line-height: 0;
		list-style: none;
		background: #1c5293;
		padding: 0.7rem 0.2rem;
		margin: 0 auto 3.5rem auto;
		@include flexbox();
		@include border-radius(5px);

		li {
			width: 33.33%;
			border-left: 1px solid #4975a9;
			padding: 0.1rem 0 0.1rem 1.3rem;

			&:first-child {
				border-left: none;

				strong {
					color: #fff;
				}
			}

			span {
				color: #fff;
				display: block;
				font-size: 0.8rem;
				line-height: 0.8rem;
				margin-bottom: 0.4rem;
				text-transform: uppercase;
			}

			strong {
				display: block;
				font-size: 1.2rem;
				line-height: 1.2rem;
				color: #ff605c;
			}
		}
	}

	.graph_desktop {
		display: none;
	}

	.work_content {
		padding-top: 6rem;
	}

	.work_step {
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset:li;

		li {
			min-height: 6rem;
			font-weight: 300;
			font-size: 1.4rem;
			position: relative;
			padding-left: 8rem;
			line-height: 1.8rem;
			margin-bottom: 3rem;

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				top: 0;
				left: 0;
				color: #fff;
				width: 60px;
				height: 60px;
				font-weight: 700;
				background: #3bacc3;
				padding: 1.5rem 0;
				font-size: 2.4rem;
				line-height: 3rem;
				text-align: center;
				position: absolute;
				content:counter(li);
				counter-increment:li;
				@include border-radius(50%);
			}

			strong {

				font-weight: 700;
				font-size: 2rem;
				line-height: 2rem;
				position: relative;
				color: #1c5293;
				text-transform: uppercase;
				display: inline-block;
				margin-bottom: 0.5rem;
			}

			span {
				display: block;
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding-top: 6.5rem;
		padding-bottom: 6.5rem;

		h2 {
			margin-bottom: 5rem;
		}

		.graph_mobile {
			display: none;
		}

		.graph_desktop {
			display: block;
			margin: 0 -23px;
		}

		.work_graph {
			padding: 0;
			margin: 0 auto;
			max-width: 767px;
			background: transparent;
		}

		.graph_legend {
			width: 472px;
			left: 50%;
			top: 45px;
			margin-left: -236px;
			position: absolute;
			padding: 1.3rem 0.2rem;
			margin-bottom: 0;

			li {
				padding: 0.4rem 0 0.4rem 3.5rem;

				strong {
					font-size: 1.3rem;
					line-height: 1.3rem;
				}
			}
		}

		.work_content {
			padding-top: 0;
			padding-left: 3rem;
		}

		.work_step {
			margin: 0 -1.5rem;
			@include flexbox();

			li {
				margin: 0 1.5rem;
				width: calc(33.33% - 3rem);
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 7rem;
		padding-bottom: 5.5rem;

		.work_row {
			@include flexbox();
		}

		.work_graph {
			max-width: inherit;
		}

		.graph_desktop {
			margin: 0 -72px;
		}


		.graph_legend {
			top: 55px;
			width: 564px;
			margin-left: -282px;
			padding: 1.5rem 0.2rem;

			li {
				padding: 0.4rem 0 0.4rem 4.3rem;

				span {
					font-size: 1.2rem;
					line-height: 1.2rem;
				}

				strong {
					font-size: 1.6rem;
					line-height: 1.6rem;
				}
			}
		}

		.work_content {
			width: 360px;
			padding-top: 3.5rem;
			@include flex-shrink(0);
		}

		.work_step {
			margin: 0;
			display: block;

			li {
				width: 100%;
				margin: 0 0 5.5rem 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		.work_content {
			padding-top: 7rem;
		}
	}
}


.why {
	color: #fff;
	position: relative;
	padding: 6rem 0 4rem 0;
	@include gradient-horizontal(#34579a,#3fc8ce);

	&:before {
		top: 0;
		left: 0;
		right: 0;
		content: '';
		height: 20px;
		position: absolute;
		background: url("../img/border_top_sm.png") 50% 0 no-repeat;
	}

	h2 {
		margin-bottom: 3rem;
	}

	.why_list {
		padding: 0;
		list-style: none;
		margin: 0 -1.5rem;

		> li {
			font-weight: 300;
			min-height: 6rem;
			font-size: 1.5rem;
			position: relative;
			line-height: 1.8rem;
			margin-bottom: 2.5rem;
			padding: 0 1.5rem 0 9.5rem;

			&:before {
				top: 0;
				left: 0;
				content: '';
				position: absolute;
			}

			&:nth-child(1) {
				padding-top: 0.5rem;

				&:before {
					left: 29px;
					width: 48px;
					height: 55px;
					background: url("../img/b03__icon_01.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}

			&:nth-child(2) {
				padding-top: 1rem;

				&:before {
					left: 27px;
					width: 51px;
					height: 51px;
					background: url("../img/b03__icon_02.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}

			&:nth-child(3) {

				&:before {
					left: 23px;
					width: 59px;
					height: 41px;
					background: url("../img/b03__icon_03.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}

			&:nth-child(4) {

				&:before {
					left: 31px;
					width: 42px;
					height: 42px;
					background: url("../img/b03__icon_04.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}

			&:nth-child(5) {

				&:before {
					left: 33px;
					width: 38px;
					height: 45px;
					background: url("../img/b03__icon_05.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 10rem;
		padding-bottom: 8rem;

		.why_list {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			> li {
				height: 8rem;
				width: 33.33%;
				font-size: 1.8rem;
				line-height: 2.2rem;
				margin-bottom: 5rem;
				padding-left: 10.5rem;

				&:nth-child(1) {
					width: 50%;

					&:before {
						left: 22px;
						width: 57px;
						height: 65px;
					}
				}

				&:nth-child(2) {
					width: 50%;
					padding-left: 11.5rem;

					&:before {
						width: 67px;
						height: 67px;
					}
				}

				&:nth-child(3) {

					&:before {
						left: 15px;
						width: 69px;
						height: 48px;
					}
				}

				&:nth-child(4) {
					width: 37%;

					&:before {

						width: 50px;
						height: 49px;
					}
				}

				&:nth-child(5) {
					width: 29%;

					&:before {
						width: 45px;
						height: 53px;
					}
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {
		padding-top: 16rem;
		padding-bottom: 9rem;

		&:before {
			height: 80px;
			background: url("../img/border_top.png") 50% 0 no-repeat;
		}

		.why_list {

			> li {
				height: 10rem;
				font-size: 2.4rem;
				line-height: 3rem;
			}
		}
	}
}


.footer {
	color: #fff;
	padding: 4.5rem 0;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;
	background: #0b1d32;
}


.privacy {
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	z-index: 1000;
	position: fixed;
	background: #0b1d32;
	display: none;
	padding-top: 2.5rem;
	padding-bottom: 3rem;

	&.first {
		display: block;
	}

	h4 {
		margin-bottom: 1.5rem;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 1.5rem;
	}
}

.modal {
	padding: 4rem 2rem;
	max-width: 360px;
	background: #fff;

	.modal_title {
		font-weight: 400;
		font-size: 2.6rem;
		line-height: 3rem;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}

	.modal_thanks {
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
		margin-bottom: 1rem;
	}

	.modal_text {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2rem;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		width: 440px;
		max-width: inherit;
		padding: 40px 50px;

		.modal_title {
			font-size: 3.6rem;
			line-height: 4rem;
		}

		.modal_thanks {
			font-size: 2.4rem;
			line-height: 3rem;
		}
	}
}


.fancybox-slide--current {

	.modal {
		opacity: 1;
		@include scale(1);
		@include transition(.3s);
	}
}

.modal {
	opacity: 0.1;
	@include scale(0.05);
	@include transition(.3s);
}
