* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {
	color: $color-base;
	font-family: $font-family-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}


.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter);
	padding-right: ($gutter);
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 1.2;
}

h1, .h1 {
	font-weight: 300;
	font-size: 2.8rem;
	position: relative;
	margin-bottom: 3.2rem;
	text-transform: uppercase;

	@media (min-width: $screen-md-min) {
		font-size: 4.8rem;
		line-height: 5.4rem;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 6rem;
		line-height: 6.4rem;
	}
}


h2, .h2 {
	font-size: 2.8rem;
	text-align: center;
	position: relative;
	margin-bottom: 3.2rem;
	padding-bottom: 2.6rem;
	text-transform: uppercase;

	&:before {
		bottom: 0;
		left: 50%;
		width: 42px;
		height: 4px;
		content: '';
		background: #fff;
		margin-left: -21px;
		position: absolute;
		@include border-radius(2px);
	}

	@media (min-width: $screen-md-min) {
		font-size: 3.6rem;
		line-height: 4rem;
		padding-bottom: 5rem;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 4.8rem;
		line-height: 5.2rem;
	}
}


h3, .h3 {
	font-size: 2.4rem;
	margin-bottom: 2rem;
}

h4, .h4 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

h5, .h5 {
	font-size: 1.6rem;
	margin-bottom: 1.6rem;
}

h6, .h6 {
	font-size: 1.4rem;
	margin-bottom: 1.4rem;
}

p {
	margin: 0;
	padding: 0;
}

// Links

a {
	outline: none;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		text-decoration: none;
	}
}