.btn {
	color: #fff;
	border: none;
	outline: none;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2rem;
	user-select: none;
	text-align: center;
	position: relative;
	cursor: pointer;
	background: #ff605c;
	white-space: nowrap;
	padding: 2rem 3.5rem;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: $font-family-second;
	@include border-radius(3rem);
	@include transition(.2s);
	@include box-shadow(0px 5px 11px 0px rgba(34, 98, 113, 0.5));

	&:hover {
		color: #fff;
		background: #ff403b;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&:active {
		background: #b83532;
	}
}


.btn_sm {
	padding: 1rem 4rem;
	@include box-shadow(none);
}

.btn_send {
	width: 100%;
}

.btn_jewel {
	padding-left: 11.5rem;

	&:before {
		width: 1px;
		left: 90px;
		top: 10px;
		bottom: 10px;
		content: '';
		position: absolute;
		background: #ff807d;
	}

	i {
		top: 50%;
		left: 30px;
		width: 31px;
		height: 29px;
		margin-top: -15px;
		position: absolute;
	}

	.ico-svg {
		fill: #fff;
	}

	&:hover {

		&:before {
			background: #df3934;
		}

		.ico-svg {
			fill: #fff;
		}
	}
}

.btn_white {
	color: #1c5293;
	background: #fff;
	padding: 1.3rem 2rem;

	&:hover {
		color: #ffff;
		background: #ff605c;
	}

	&:focus {
		background: #b83532;
	}

	@media (min-width: $screen-md-min) {
		padding: 2rem 3.5rem;
	}
}