.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	font-weight: 200;
	display: inline-block;
	color: #000;
	overflow: hidden;
	background: transparent;
	height: 4.2rem;
	padding: 1rem 1.5rem;
	font-size: 1.4rem;
	line-height: 2rem;
	text-decoration: none;
	position: relative;
	border: 1px solid #808080;
	@include placeholder(#808080);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		border-color: #444;
		@include placeholder(transparent);
	}
}

.red {

	.form_control {
		border-color: #ff1717;
	}
}




.form_group {
	position: relative;
	margin-bottom: 1.5rem;

	.form_control {
		z-index: 10;
		position: relative;
	}

	.form_placeholder {
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 4.2rem;
		color: #808080;
		font-size: 1.4rem;
		line-height: 2rem;
		position: absolute;
		display: inline-block;
		padding: 1.1rem 1.6rem;

		sup {
			top: -0.2rem;
			color: #ff1717;
			font-size: 100%;
			margin-right: 0.3rem;
		}
	}

	&.focus {

		.form_placeholder {
			opacity: 0;
			visibility: hidden;
		}
	}
}

